__pycache__

# Compiled PDF
*.pdf

# Auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.dvi
*.fls
*.fdb_latexmk
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdv
*.gz